<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>{% block title %}Default Title{% endblock %}</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='styles/bootstrap/bootstrap.min.css') }}"
        />

        <script>
            const appRoute = '{{ route }}';
        </script>

        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='styles/forkawesome/fork-awesome.min.css') }}"
        />

        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='styles/app.css') }}"
        />
        {% block additional_head %}{% endblock %}
    </head>
    <body>
        <div class="container">
            {% block content %}
            <!-- Content goes here -->
            {% endblock %}
        </div>

        {% block additional_scripts %}{% endblock %}
    </body>
</html>
