<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>Number of untracked shoots calculator</title>

        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='styles/bootstrap/bootstrap.min.css') }}"
        />

        <script>
            const appRoute = '{{ route }}';
        </script>

        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='styles/forkawesome/fork-awesome.min.css') }}"
        />

        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='styles/app.css') }}"
        />
    </head>
    <body>
        <div class="container">
            <h1 class="my-4">Number of untracked shoots calculator</h1>
            {% if error %}
            <div class="error">
                {% for field, messages in error.items() %}
                <b>{{ field }}:</b>
                {% for message in messages %} {{ message }} {% endfor %} {%
                endfor %}
            </div>
            {% endif %}
            <form
                action="{{ url_for('index.index') }}"
                method="post"
            >
                {{ form.csrf_token }}
                <input
                    type="hidden"
                    name="object_id"
                    id="object_id"
                    value="{{ request.args.get('object_id', '') }}"
                />

                <fieldset>
                    <legend>Object to search</legend>
                    <div class="row">
                        <div class="col">
                            <span
                                ><center>
                                    <small>
                                        Current local copy of OpenNGC database
                                        contains
                                        <strong>{{db_num_objects}}</strong>
                                        objects.
                                    </small>
                                </center></span
                            ><br />
                            <label for="object_name">Object Name:</label>
                            <div class="position-relative">
                                <input
                                    type="text"
                                    class="form-control"
                                    id="object_name"
                                    name="object_name"
                                    value="{{ request.args.get('object_name', '') }}"
                                    required
                                />
                                <i
                                    class="fa fa-search input-icon"
                                    aria-hidden="true"
                                ></i>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Observation location</legend>
                    <!-- Add this inside the Observation location fieldset -->
                    <div class="col">
                        <label for="latitude_deg">Latitude (DMS):</label>
                        <div class="row">
                            <div class="col">
                                <input
                                    type="number"
                                    class="form-control dms-input"
                                    id="latitude_deg"
                                    name="latitude_deg"
                                    placeholder="Degrees"
                                />
                            </div>
                            <div class="col">
                                <input
                                    type="number"
                                    class="form-control dms-input"
                                    id="latitude_min"
                                    name="latitude_min"
                                    placeholder="Minutes"
                                />
                            </div>
                            <div class="col">
                                <input
                                    type="number"
                                    class="form-control dms-input"
                                    id="latitude_sec"
                                    name="latitude_sec"
                                    placeholder="Seconds"
                                    step="0.01"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label for="longitude_deg">Longitude (DMS):</label>
                        <div class="row">
                            <div class="col">
                                <input
                                    type="number"
                                    class="form-control dms-input"
                                    id="longitude_deg"
                                    name="longitude_deg"
                                    placeholder="Degrees"
                                />
                            </div>
                            <div class="col">
                                <input
                                    type="number"
                                    class="form-control dms-input"
                                    id="longitude_min"
                                    name="longitude_min"
                                    placeholder="Minutes"
                                />
                            </div>
                            <div class="col">
                                <input
                                    type="number"
                                    class="form-control dms-input"
                                    id="longitude_sec"
                                    name="longitude_sec"
                                    placeholder="Seconds"
                                    step="0.01"
                                />
                            </div>
                        </div>
                    </div>
                    <input
                        type="hidden"
                        id="latitude"
                        name="latitude"
                        value="{{ request.args.get('latitude', '') }}"
                    />
                    <input
                        type="hidden"
                        id="longitude"
                        name="longitude"
                        value="{{ request.args.get('longitude', '') }}"
                    />
                </fieldset>
                <fieldset>
                    <legend>Sensor specs</legend>
                    <div class="row">
                        <div class="col">
                            <label for="sensor_height_mm"
                                >Sensor Height (mm):</label
                            >
                            <div class="position-relative">
                                <input
                                    type="number"
                                    step="0.01"
                                    min="0"
                                    max="999.99"
                                    class="form-control short-input spinner"
                                    id="sensor_height_mm"
                                    name="sensor_height_mm"
                                    value="{{ request.args.get('sensor_height_mm', '') }}"
                                    required
                                />
                                <i
                                    class="fa fa-arrows-v input-icon"
                                    aria-hidden="true"
                                ></i>
                            </div>
                        </div>
                        <div class="col">
                            <label for="sensor_width_mm"
                                >Sensor Width (mm):</label
                            >
                            <div class="position-relative">
                                <input
                                    type="number"
                                    step="0.01"
                                    min="0"
                                    max="999.99"
                                    class="form-control short-input spinner"
                                    id="sensor_width_mm"
                                    name="sensor_width_mm"
                                    value="{{ request.args.get('sensor_width_mm', '') }}"
                                    required
                                />
                                <i
                                    class="fa fa-arrows-h input-icon"
                                    aria-hidden="true"
                                ></i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="number_of_pixels_in_height">
                                Height px:
                            </label>
                            <div class="position-relative">
                                <input
                                    type="number"
                                    min="1"
                                    max="9999"
                                    class="form-control short-input"
                                    id="number_of_pixels_in_height"
                                    name="number_of_pixels_in_height"
                                    value="{{
                                        request.args.get('number_of_pixels_in_height', '')
                                    }}"
                                    required
                                />
                                <i
                                    class="fa fa-arrows-v input-icon"
                                    aria-hidden="true"
                                ></i>
                            </div>
                        </div>
                        <div class="col">
                            <label for="number_of_pixels_in_width">
                                Width px:
                            </label>
                            <div class="position-relative">
                                <input
                                    type="number"
                                    min="1"
                                    max="9999"
                                    class="form-control short-input"
                                    id="number_of_pixels_in_width"
                                    name="number_of_pixels_in_width"
                                    value="{{
                                        request.args.get('number_of_pixels_in_width', '')
                                    }}"
                                    required
                                />
                                <i
                                    class="fa fa-arrows-h input-icon"
                                    aria-hidden="true"
                                ></i>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Shooting parameters</legend>
                    <div class="row">
                        <div class="col">
                            <label for="focal_length">Focal Length:</label>
                            <div class="position-relative">
                                <input
                                    type="number"
                                    min="1"
                                    max="9999"
                                    class="form-control short-input spinner"
                                    id="focal_length"
                                    name="focal_length"
                                    value="{{ request.args.get('focal_length', '') }}"
                                    required
                                />
                                <i
                                    class="fa fa-eye input-icon"
                                    aria-hidden="true"
                                ></i>
                            </div>
                        </div>
                        <div class="col">
                            <label for="aperture">Aperture:</label>
                            <div class="position-relative select-wrapper">
                                <select
                                    class="form-control custom-select-aperture select-aperture"
                                    id="aperture"
                                    name="aperture"
                                    required
                                    data-selected-value="{{ request.args.get('aperture', '') }}"
                                ></select>
                                <i
                                    class="fa fa-caret-down select-arrow-icon"
                                ></i>
                                <i
                                    class="fa fa-camera input-icon"
                                    aria-hidden="true"
                                ></i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="shoot_interval">Shoot Interval:</label>
                            <div class="position-relative">
                                <input
                                    type="number"
                                    min="0"
                                    max="9999"
                                    class="form-control short-input"
                                    id="shoot_interval"
                                    name="shoot_interval"
                                    value="{{ request.args.get('shoot_interval', '') }}"
                                    required
                                />
                                <i
                                    class="fa fa-clock-o input-icon"
                                    aria-hidden="true"
                                ></i>
                            </div>
                        </div>
                        <div class="col">
                            <label for="camera_position"
                                >Camera position:</label
                            >

                            <div class="position-relative select-wrapper">
                                <select
                                    class="form-control custom-select-camera-position select-camera-position"
                                    id="camera_position"
                                    name="camera_position"
                                    required
                                    data-selected-value="{{ request.args.get('camera_position', '0') }}"
                                >
                                    <option
                                        value="0"
                                        selected
                                    >
                                        Horizontal
                                    </option>

                                    <option value="15">15° right</option>

                                    <option value="30">30° right</option>

                                    <option value="45">45° right</option>

                                    <option value="60">60° right</option>

                                    <option value="75">75° right</option>

                                    <option value="90">Vertical</option>

                                    <option value="-15">15° left</option>

                                    <option value="-30">30° left</option>

                                    <option value="-45">45° left</option>

                                    <option value="-60">60° left</option>

                                    <option value="-75">75° left</option>

                                    <option value="-90">
                                        Reverse Vertical
                                    </option>
                                </select>
                                <i
                                    class="fa fa-caret-down select-arrow-icon"
                                ></i>

                                <i
                                    class="fa fa-repeat input-icon"
                                    aria-hidden="true"
                                ></i>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <button
                    type="submit"
                    class="btn btn-primary mt-3 btn-calculate"
                >
                    Calculate
                </button>
            </form>
        </div>
        <script
            src="{{ url_for('static', filename='scripts/app.js') }}"
            defer
        ></script>
    </body>
</html>
