{% extends 'base.html' %} {% block title %}Number of untracked shoots
    calculator{% endblock %} {% block content %} {% if error %}
    <div class="error">
        {% for field, messages in error.items() %}
            <b>{{ field }}:</b>
            {% for message in messages %} {{ message }} {% endfor %} {% endfor %}
    </div>
{% endif %}
    <form
            action="{{ url_for('index.index') }}"
            method="post"
            id="calculate_form"
    >
        {{ form.csrf_token }}
        <input
                id="object_id"
                name="object_id"
                type="hidden"
        />
        <fieldset>
            <legend>Object to search</legend>
            <div class="row">
                <div class="col">
                    <div class="form-group position-relative">
                        <div class="center" id="number_objects">
                            <small>
                                Current local copy of OpenNGC database contains
                                <strong>{{ db_num_objects }}</strong>
                                objects.
                            </small>
                        </div>
                        <br/>
                        <label for="object_name" class="form-label">Object Name:</label>
                        <select class="form-control" id="object_name" name="object_name" data-selected-value="">
                        </select>
                    </div>

                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Observation location</legend>
            <!-- Add this inside the Observation location fieldset -->
            <div class="col">
                <label for="latitude_deg">Latitude (DMS):</label>
                <div class="row">
                    <div class="col">
                        <input
                                class="form-control dms-input"
                                id="latitude_deg"
                                name="latitude_deg"
                                placeholder="Degrees"
                                type="number"
                        />
                    </div>
                    <div class="col">
                        <input
                                class="form-control dms-input"
                                id="latitude_min"
                                name="latitude_min"
                                placeholder="Minutes"
                                type="number"
                        />
                    </div>
                    <div class="col">
                        <input
                                class="form-control dms-input"
                                id="latitude_sec"
                                name="latitude_sec"
                                placeholder="Seconds"
                                step="0.01"
                                type="number"
                        />
                    </div>
                </div>
            </div>
            <div class="col">
                <label for="longitude_deg">Longitude (DMS):</label>
                <div class="row">
                    <div class="col">
                        <input
                                class="form-control dms-input"
                                id="longitude_deg"
                                name="longitude_deg"
                                placeholder="Degrees"
                                type="number"
                        />
                    </div>
                    <div class="col">
                        <input
                                class="form-control dms-input"
                                id="longitude_min"
                                name="longitude_min"
                                placeholder="Minutes"
                                type="number"
                        />
                    </div>
                    <div class="col">
                        <input
                                class="form-control dms-input"
                                id="longitude_sec"
                                name="longitude_sec"
                                placeholder="Seconds"
                                step="0.01"
                                type="number"
                        />
                    </div>
                </div>
            </div>
            <input
                    id="latitude"
                    name="latitude"
                    type="hidden"
            />
            <input
                    id="longitude"
                    name="longitude"
                    type="hidden"
            />
            <!-- New row for date and minimum degrees -->
            <div class="row">
                <div class="col">
                    <label for="observation_date">Observation Date:</label>
                    <input
                            class="form-control datetime-input"
                            id="observation_date"
                            name="observation_date"
                            type="date"
                            required=""
                    />
                </div>
                <div class="col">
                    <label for="min_degrees">Elevation threshold:</label>
                    <input
                            class="form-control dms-input"
                            id="min_degrees"
                            name="min_degrees"
                            placeholder="Minimum Degrees"
                            type="number"
                            required=""
                            min="0"
                            max="90"
                    />
                </div>
                <div class="col">
                    <label for="altitude">Altitude:</label>
                    <input
                            class="form-control dms-input"
                            id="altitude"
                            name="altitude"
                            placeholder="Altitude"
                            type="number"
                    />
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Camera specs</legend>
            <div class="row">
                <div class="col">
                    <div class="form-group position-relative">
                        <label for="camera_select" class="form-label">Camera:</label>
                        <select class="form-control" id="camera" name="camera" data-selected-value="">
                            <!-- Options will be populated here -->
                        </select>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="sensor_height_mm">Sensor Height (mm):</label>
                    <div class="position-relative">
                        <input
                                class="form-control short-input spinner"
                                id="sensor_height_mm"
                                max="999.99"
                                min="0"
                                name="sensor_height_mm"
                                required=""
                                step="0.01"
                                type="number"
                        />
                        <i
                                aria-hidden="true"
                                class="fa fa-arrows-v input-icon"
                        ></i>
                    </div>
                </div>
                <div class="col">
                    <label for="sensor_width_mm">Sensor Width (mm):</label>
                    <div class="position-relative">
                        <input
                                class="form-control short-input spinner"
                                id="sensor_width_mm"
                                max="999.99"
                                min="0"
                                name="sensor_width_mm"
                                required=""
                                step="0.01"
                                type="number"
                        />
                        <i
                                aria-hidden="true"
                                class="fa fa-arrows-h input-icon"
                        ></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="number_of_pixels_in_height"> Height px: </label>
                    <div class="position-relative">
                        <input
                                class="form-control short-input"
                                id="number_of_pixels_in_height"
                                max="9999"
                                min="1"
                                name="number_of_pixels_in_height"
                                required=""
                                type="number"
                        />
                        <i
                                aria-hidden="true"
                                class="fa fa-arrows-v input-icon"
                        ></i>
                    </div>
                </div>
                <div class="col">
                    <label for="number_of_pixels_in_width"> Width px: </label>
                    <div class="position-relative">
                        <input
                                class="form-control short-input"
                                id="number_of_pixels_in_width"
                                max="9999"
                                min="1"
                                name="number_of_pixels_in_width"
                                required=""
                                type="number"
                        />
                        <i
                                aria-hidden="true"
                                class="fa fa-arrows-h input-icon"
                        ></i>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Shooting parameters</legend>
            <div class="row">
                <div class="col">
                    <label for="focal_length">Focal Length:</label>
                    <div class="position-relative">
                        <input
                                class="form-control short-input spinner"
                                id="focal_length"
                                max="9999"
                                min="1"
                                name="focal_length"
                                required=""
                                type="number"
                        />
                        <i
                                aria-hidden="true"
                                class="fa fa-eye input-icon"
                        ></i>
                    </div>
                </div>
                <div class="col">
                    <label for="aperture">Aperture:</label>
                    <div class="position-relative select-wrapper">
                        <select
                                class="form-control custom-select-aperture select-aperture"
                                data-selected-value=""
                                id="aperture"
                                name="aperture"
                                required=""
                        ></select>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="shoot_interval">Shoot Interval:</label>
                    <div class="position-relative">
                        <input
                                class="form-control short-input"
                                id="shoot_interval"
                                max="9999"
                                min="0"
                                name="shoot_interval"
                                required=""
                                type="number"
                        />
                        <i
                                aria-hidden="true"
                                class="fa fa-clock-o input-icon"
                        ></i>
                    </div>
                </div>
                <div class="col">
                    <label for="camera_position_select">Camera position:</label>
                    <div class="position-relative select-wrapper">
                        <select
                                class="form-control custom-select-camera-position select-camera-position"
                                data-selected-value=""
                                id="camera_position"
                                name="camera_position"
                                required=""
                        >
                            <option
                                    selected=""
                                    value="0"
                            >
                                Horizontal
                            </option>
                            <option value="15">15° right</option>
                            <option value="30">30° right</option>
                            <option value="45">45° right</option>
                            <option value="60">60° right</option>
                            <option value="75">75° right</option>
                            <option value="90">Vertical</option>
                            <option value="-15">15° left</option>
                            <option value="-30">30° left</option>
                            <option value="-45">45° left</option>
                            <option value="-60">60° left</option>
                            <option value="-75">75° left</option>
                            <option value="-90">Reverse Vertical</option>
                        </select>

                    </div>
                </div>
            </div>
        </fieldset>
        <button
                class="btn btn-primary btn-calculate"
                id="calculate_button"
                type="submit"
        >
            Calculate
        </button>
    </form>
{% endblock %} {% block additional_scripts %}
    <script
            defer=""
            src="{{ url_for('static', filename='scripts/app.js') }}"
    ></script>
{% endblock %}
