<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>Number of untracked shoots calculator - Error</title>
    </head>
    <body>
        <h1>Error</h1>
        <p>{{ error }}</p>
        <br />
        <a
            href="/astroshoots?object_name={{ request.form['object_name'] }}&latitude={{ request.form['latitude'] }}&longitude={{ request.form['longitude'] }}&sensor_height_mm={{ request.form['sensor_height_mm'] }}&sensor_width_mm={{ request.form['sensor_width_mm'] }}&focal_length={{ request.form['focal_length'] }}&shoot_interval={{ request.form['shoot_interval'] }}&aperture={{ request.form['aperture'] }}&number_of_pixels_in_width={{ request.form['number_of_pixels_in_width'] }}"
            >Back to form</a
        >
    </body>
</html>
