<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>Number of untracked shoots calculator</title>

        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='styles/bootstrap/bootstrap.min.css') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='styles/select2/select2.min.css') }}"
        />

        <script
            defer
            src="{{ url_for('static', filename='scripts/fontawesome/solid.min.js') }}"
        ></script>
        <script
            defer
            src="{{ url_for('static', filename='scripts/fontawesome/fontawesome.min.js') }}"
        ></script>

        <script src="{{ url_for('static', filename='scripts/jquery/jquery-3.7.0.min.js') }}"></script>

        <script src="{{ url_for('static', filename='scripts/select2/select2.full.min.js') }}"></script>

        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='styles/app.css') }}"
        />
    </head>
    <body>
        <div class="container">
            <h1 class="my-4">Number of untracked shoots calculator</h1>
            <form
                action="{{ url_for('index') }}"
                method="post"
            >
                <input
                    type="hidden"
                    name="csrf_token"
                    value="{{ csrf_token() }}"
                />
                <fieldset>
                    <legend>Object to search</legend>
                    <div class="row">
                        <div class="col">
                            <label for="object_name">Object Name:</label>
                            <div class="position-relative">
                                <input
                                    type="text"
                                    class="form-control medium-input"
                                    id="object_name"
                                    name="object_name"
                                    value="{{ request.args.get('object_name', '') }}"
                                    required
                                />
                                <i class="fa-solid fa-search input-icon"></i>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Observation location</legend>
                    <!-- Add this inside the Observation location fieldset -->
                    <div class="col">
                        <label for="latitude_deg">Latitude (DMS):</label>
                        <div class="row">
                            <div class="col">
                                <input
                                    type="number"
                                    class="form-control dms-input"
                                    id="latitude_deg"
                                    name="latitude_deg"
                                    placeholder="Degrees"
                                />
                            </div>
                            <div class="col">
                                <input
                                    type="number"
                                    class="form-control dms-input"
                                    id="latitude_min"
                                    name="latitude_min"
                                    placeholder="Minutes"
                                />
                            </div>
                            <div class="col">
                                <input
                                    type="number"
                                    class="form-control dms-input"
                                    id="latitude_sec"
                                    name="latitude_sec"
                                    placeholder="Seconds"
                                    step="0.01"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label for="longitude_deg">Longitude (DMS):</label>
                        <div class="row">
                            <div class="col">
                                <input
                                    type="number"
                                    class="form-control dms-input"
                                    id="longitude_deg"
                                    name="longitude_deg"
                                    placeholder="Degrees"
                                />
                            </div>
                            <div class="col">
                                <input
                                    type="number"
                                    class="form-control dms-input"
                                    id="longitude_min"
                                    name="longitude_min"
                                    placeholder="Minutes"
                                />
                            </div>
                            <div class="col">
                                <input
                                    type="number"
                                    class="form-control dms-input"
                                    id="longitude_sec"
                                    name="longitude_sec"
                                    placeholder="Seconds"
                                    step="0.01"
                                />
                            </div>
                        </div>
                    </div>
                    <!-- Add this inside the Observation location fieldset -->
                    <input
                        type="hidden"
                        id="latitude"
                        name="latitude"
                        value="{{ request.args.get('latitude', '') }}"
                    />
                    <input
                        type="hidden"
                        id="longitude"
                        name="longitude"
                        value="{{ request.args.get('longitude', '') }}"
                    />
                </fieldset>
                <fieldset>
                    <legend>Sensor specs</legend>
                    <div class="row">
                        <div class="col">
                            <label for="sensor_height_mm"
                                >Sensor Height (mm):</label
                            >
                            <div class="position-relative">
                                <input
                                    type="number"
                                    step="0.01"
                                    min="0"
                                    max="999.99"
                                    class="form-control short-input spinner"
                                    id="sensor_height_mm"
                                    name="sensor_height_mm"
                                    value="{{ request.args.get('sensor_height_mm', '') }}"
                                    required
                                />
                                <i
                                    class="fa-solid fa-ruler-vertical input-icon"
                                ></i>
                            </div>
                        </div>
                        <div class="col">
                            <label for="sensor_width_mm"
                                >Sensor Width (mm):</label
                            >
                            <div class="position-relative">
                                <input
                                    type="number"
                                    step="0.01"
                                    min="0"
                                    max="999.99"
                                    class="form-control short-input spinner"
                                    id="sensor_width_mm"
                                    name="sensor_width_mm"
                                    value="{{ request.args.get('sensor_width_mm', '') }}"
                                    required
                                />
                                <i
                                    class="fa-solid fa-ruler-horizontal input-icon"
                                ></i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="number_of_pixels_in_width">
                                Number of Pixels in Width:
                            </label>
                            <div class="position-relative">
                                <input
                                    type="number"
                                    min="1"
                                    max="99999"
                                    class="form-control short-input spinner"
                                    id="number_of_pixels_in_width"
                                    name="number_of_pixels_in_width"
                                    value="{{
                                        request.args.get('number_of_pixels_in_width', '')
                                    }}"
                                    required
                                />
                                <i
                                    class="fa-solid fa-arrows-left-right-to-line input-icon"
                                ></i>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Shooting parameters</legend>
                    <div class="row">
                        <div class="col">
                            <label for="focal_length">Focal Length:</label>
                            <div class="position-relative">
                                <input
                                    type="number"
                                    min="1"
                                    max="9999"
                                    class="form-control short-input spinner"
                                    id="focal_length"
                                    name="focal_length"
                                    value="{{ request.args.get('focal_length', '') }}"
                                    required
                                />
                                <i
                                    class="fa-solid fa-binoculars input-icon"
                                ></i>
                            </div>
                        </div>
                        <div class="col">
                            <label for="aperture">Aperture:</label>
                            <div class="position-relative">
                                <select
                                    class="form-control custom-select"
                                    id="aperture"
                                    name="aperture"
                                    required
                                    data-selected-value="{{ request.args.get('aperture', '') }}"
                                ></select>

                                <i class="fa-solid fa-aperture input-icon"></i>
                            </div>
                        </div>
                        <div class="col">
                            <label for="shoot_interval">Shoot Interval:</label>
                            <div class="position-relative">
                                <input
                                    type="number"
                                    min="0"
                                    max="9999"
                                    class="form-control short-input spinner"
                                    id="shoot_interval"
                                    name="shoot_interval"
                                    value="{{ request.args.get('shoot_interval', '') }}"
                                    required
                                />
                                <i class="fa-solid fa-stopwatch input-icon"></i>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <button
                    type="submit"
                    class="btn btn-primary mt-3 btn-calculate"
                >
                    Calculate
                </button>
            </form>
        </div>
        <script src="{{ url_for('static', filename='scripts/app.js') }}"></script>
    </body>
</html>
